body {
		font-family: sans-serif;
		background: url();
		background-size: 100%;
	}

   #klassDiv {
   		background-color: white;
   		font-size: 40px;
		border: 10px solid #028482;  
 		border-radius: 25px;
 		float:left;
 		margin-top: 90px;
 		max-width: 90%;
 		min-width: 15%;
   }
   	.klassdiv > div {
		background-color: red;
		height: 125px; 
		width: 125px;
		float:left;
		margin: 15px;
		font-size: 20px;
		font-weight: bold;
		border: 3px solid #00AAA0;  
 		border-radius: 5px;
	}	


	#paintchart {

    	color: white;
    	margin: 10px;
    	margin-left: 30%;
    	position: fixed;
	}

	.farg {
		height: 50px;
		width: 88px;
		float:left;
		margin: 10px;
		font-weight: bold;
	
		border: 3px solid #028482;  
	}

	#counter {
		float: right;
		font-size: 1.2em;
	}
/*
	#kommentdiv {
		background-color: white;
		min-height: 800px;
		max-height: 85%;
		min-width: 5%;
   		max-width: 3%;
   		float:right;
   		position: relative;
   		margin-top: 10px;
   		font-size: 2.5em;
		border: 10px solid #028482;  
 		border-radius: 25px;
 		transition: all .5s ease-in;
	}
*/